@import url('https://fonts.googleapis.com/css2?family=Andika&family=Courgette&family=Fira+Mono&family=Overlock&display=swap');

:root {
  --fontTitle: 'Andika', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111111;
  overflow-x: hidden;
}

.content {
  z-index: 2;
  position: relative;
}

h1 {
  font-family: var(--fontTitle);
  font-size: 5rem;
  color: #fffffc;
}

.title {
  display: flex;
  justify-content: flex-start;
  padding: 10%;
}

.subtitle {
  padding: 5%;
}
h2 {
  font-family: var(--fontTitle);
  color: #fffffc;
}

h3,
div,
input {
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: black;
  font-size: 2rem;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.input-content {
  font-family: 'Digital', sans-serif;
  font-size: 2rem;
  background-color: white;
  padding: 20px;
  margin: 10px;
}

::placeholder {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
}
button {
  font-family: 'Arial', sans-serif;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button:hover {
  background-color: #fffffc;
}

.footer {
  align-items: flex-end;
}

.footer,
h4 {
  text-align: center;
  color: #d3d3d3;
}

/*FONDO*/
.bg {
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
